.display-hidden{
    display: none;
}
.center-block{
    display: block;
    margin: 0 auto;
}
.pointer{
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    background: #7580b8;
    border-radius: 3px;
}

.main-bg{
  min-width: 1200px;
  background-size: 100% auto;
}
.main{
  padding-top: 40%;
  width: 1200px;
  .center-block;
}
.login{
    font-size: 16px;
    margin-top: 20px;
    .platformNameLabel{
        color: #8ba9f4;
    }
    .platformNameValue{
        margin-left: 10px;
        color: white;
    }
}
.transpant-input{
    background: transparent;
    border: none;
}
.signup-form{
    margin-top: 32px;
    font-size: 16px;
    font-color: #454e80;
    padding-top: 41px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .form-item{
        display: flex;
        justify-content: flex-start;
        position: relative;
        margin-bottom: 23px;
        width: 460px;
        height: 54px;
        line-height: 54px;
        label{
            font-size: 20px;
            width: 80px;
            display: inline-block;
            text-align: right;
            color: #98aace;
            margin-right: 15px;
        }
        input{
            width: 338px;
            height: 54px;
            font-size: 16px;
            color: #454e80;
            padding-left: 16px;
        }
        .dropdown-option{
            width: 338px;
            height: 54px;
            font-size: 16px;
            color: #454e80;
            padding-left: 16px;
        }
    }
    .submit-container{
      width: 100%;
          margin-top: 13px;
          margin-bottom: 40px;
          text-align: center;
      .submit{
          cursor: pointer;
      }
    }
    .join-qq-commonutiy{
        text-align: left;
        font-size: 18px;
        display: flex;
        align-items: center;
        .join-qq-btncon{
            height: 42px;
        }
        .join-btn{
            cursor: pointer;
            display: inline-block;
            width: 166px;
            height: 42px;
            line-height: 42px;
            vertical-align: top;
            text-align: center;
            color: #ffffff;
        }
        .pushbefore{
            color: #8ba9f4;
            margin-left: 13px;
        }
        
    }
}
.matchRuleExt{
    width: 100%;
    margin-top: 50px;
}
.extralSummary{
    width: 100%;
    margin-top: 30px;
}
.raw{
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    color: #98aace;
    font-size: 14px;
    .split{
        margin-bottom: 15px;
    }
}
.ting-select{
    position: relative;
}
.ting-options{
    width: 353px;
    // height: 54px;
    position: absolute;
    right: 11px;
    top: 54px;
    z-index: 1;
    border: 1px solid #3b4a9b;
    background: #212a52;
    border-radius: 5px;
    max-height: 208px;
    overflow-y: auto;
    color: #7580b8;
    text-align: left;
    .option{
        padding-left: 16px;
        height: 52px;
        line-height: 52px;
        font-size: 16px;
        cursor: pointer;
    }
    .option:hover{
        background-color: #28326c;
    }
}
.modal-sigup-header{
  text-align: center;
}
.modal-signup-successed{
  font-size: 20px;
  color: #98aace;
  width: 514px;
  text-align: center;
  li{
    margin-bottom: 20px;
    label{
      margin-right: 10px;
    }
    span{
      color: #ffffff;
    }
  }
  li.last{
    margin-top: 17px;
  }
  li.footer{
    margin-bottom: 0;
  }
  li.submit{
    img{
      cursor: pointer;
    }
    margin-top: 47px;
  }
}
